:root {
    --main-color: #C6FF00;
    --black-color: #383737;
    --dark-gray: #5A5A5A;
    --white-color: #f5f5f5;
    --soft-green: #EEFFB2;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
}
body {
    width: 100%;
    min-width: 320px;
    max-width: 450px;
    margin: 0 auto;
    padding: 0 40px;
    background: var(--white-color);
}
header, main {
    position: relative;
}
header .logo {
    width: 230px;
    height: 70px;
    margin: 10px auto;
    background-image: url("../assets/logos/logo.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.main-section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: calc(100vh - 90px);
    z-index: 0;
}
.main-section .parameters-container {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}
.main-section .parameters-container .counters-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    row-gap: 8px;
}
.players-counter-text {
    grid-column: 1/2;
    grid-row: 1/2
}
.spies-counter-text {
    grid-column: 1/2;
    grid-row: 2/3
}
.time-counter-text {
    grid-column: 1/2;
    grid-row: 3/4
}
.players-counter-container {
    grid-column: 3/4;
    grid-row: 1/2
}
.spies-counter-container {
    grid-column: 3/4;
    grid-row: 2/3
}
.time-counter-container {
    grid-column: 3/4;
    grid-row: 3/4
}
.main-section .parameters-container .counters-wrapper .counter-container {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 6px;
}
.main-section .parameters-container .counters-wrapper .counter-container span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    font-size: 1.4rem;
    background-color: var(--soft-green);
}

.main-section .parameters-container .counters-wrapper .counter-container .minus-button,
.main-section .parameters-container .counters-wrapper .counter-container .plus-button {
    width: 18px;
    height: 18px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main-section .parameters-container .counters-wrapper .counter-container .minus-button{
    background-image: url("../assets/icons/minus.svg");
    opacity: 0.5;
}
.main-section .parameters-container .counters-wrapper .counter-container .plus-button{
    background-image: url("../assets/icons/plus.svg");
}
.primary-text {
    font-size: 1.8rem;
    text-align: left;
    color: var(--dark-gray);
}
.secondary-button {
    width: 80%;
    height: auto;
    font-size: 2.2rem;
    padding: 6px;
    margin-top: 40px;
    border-radius: 20px;
    cursor: pointer;
    color: var(--black-color);
    background-color: var(--white-color);
    border: 2px solid var(--main-color);
}
.primary-button {
    width: 80%;
    height: auto;
    font-size: 2.2rem;
    font-weight: 700;
    padding: 6px;
    margin-top: 124px;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    color: var(--white-color);
    background-color: var(--black-color);
}
